.App {
  text-align: center;
  color: #333;
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
}

h1,h2,h3,h4,h5 {
  font-family: 'Source Sans Pro', sans-serif;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.restaurantBanner{
  display: flex;
  margin-bottom: 32px;
  height: 64px;
  border-top: 4px solid #ff4c00;
  justify-content: center;
  box-shadow: 0 1px 4px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.restaurantImage{
  width: 64px;
}

.restaurantHeading{
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #333;
  line-height: 60px;
}

form.guestEntry {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  width: 240px;
}

.guestEntry > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 24px;
}

.guestEntry label {
  margin-bottom: 8px;
}

.partyNumberWrapper {
  display: flex;
  width: 240px;
  justify-content: space-between;
  margin-top: 4px;
  margin-bottom: 24px;
  padding-right: 4px;
}

.joinButton {
  align-self: flex-end;
}

.lineText {
  margin-bottom: 48px;
}

.numberButton {
  width: 32px;
  height: 32px;
  padding-top: 5px;
  border-radius: 64px;
  font-weight: 600;
  color: #3d72d7;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.numberButtonActive {
  width: 32px;
  height: 32px;
  padding-top: 5px;
  border-radius: 64px;
  font-weight: 700;
  background-color: #2185d0;
  color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.moreButton {
  color: #3d72d7;
  font-weight: 600;
  padding-top: 6px;
}

.numberButton:hover,
.moreButton:hover {
  cursor: pointer;
}

.positionInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
  margin-top: 48px;
}

.positionInfo > div {
  display: flex;
  align-items: center;
  margin-left: 64px;
  margin-bottom: 16px;
  font-weight: 600;
  color: #444;
}

.positionInfo i {
  padding-top: 2px;
}

.checkIcon {
  color: green;
  font-size: 18px;
}

.cancelButton {
  margin: auto!important;
  margin-top: 10vh!important;
}

.positionVal {
  color: grey;
  font-weight: 400;
}

.waitTimeInfo {
  margin: auto;
  margin-bottom: 16px;
  color:#6f6f6f;
  font-weight: 4  00;
  font-size: 14px;
}

.separatorLine {
  width: 60vw;
  border: 0;
  border-top: 1px solid rgb(211, 211, 211);
  margin-bottom: 32px;
}