.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.restaurantBanner{
  display: flex;
  margin-bottom: 40px;
  height: 64px;
  background-color: rrgb(242, 242, 242);
  justify-content: center;
  box-shadow: 0 1px 4px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.restaurantImage{
  width: 64px;
}

.restaurantHeading{
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #333;
  line-height: 60px;
}

form.guestEntry {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  width: 240px;
}

.guestEntry > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 24px;
}

.guestEntry label {
  margin-bottom: 8px;
}

.partyNumberWrapper {
  display: flex;
  width: 240px;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 24px;
  padding-right: 4px;
}

.joinButton {
  align-self: flex-end;
}

.lineText {
  margin-bottom: 48px;
}